In [1]:
import pandas as pd

In [8]:
df4 = pd.read_csv(r'data\4_data_preprocessing\5000_best\p4_v02_5000best.csv', index_col = 0)

In [10]:
df4.head()

,url,description,title,label,description_p4,title_p4
0,https://unt.edu,"UNT is a student-focused, public, research uni...",University of North Texas,aman,"['unt', 'student', 'focus', 'public', 'researc...","['university', 'north', 'texas']"
1,https://discovermagazine.com,Discover satisfies everyday curiosity with rel...,Discover Magazine,aman,"['discover', 'satisfies', 'everyday', 'curiosi...","['discover', 'magazine']"
2,https://caranddriver.com,Covering the automotive industry since 1955 wi...,"Car and Driver: New Car Reviews, Buying Advice...",aman,"['cover', 'automotive', 'industry', 'since', '...","['car', 'driver', 'new', 'car', 'review', 'buy..."
3,https://allstate.com,Get auto insurance quotes at Allstate.com. You...,Allstate Insurance Company | You're in good hands,aman,"['get', 'auto', 'insurance', 'quote', 'allstat...","['allstate', 'insurance', 'company', 'good', '..."
4,https://oregonstate.edu,Oregon State University continues to advance i...,Oregon State University,aman,"['oregon', 'state', 'university', 'continue', ...","['oregon', 'state', 'university']"

In [11]:
def restring(s):
    s = s[2:-2]
    s = s.split("', '")
    s = " ".join(s)
    return s

In [12]:
df4['desc_p'] = df4.description_p4.apply(restring)

In [13]:
df4['title_p'] = df4.title_p4.apply(restring)

In [14]:
df4.to_csv('sample_bab4.csv')