In [3]:
import pandas as pd
import numpy as np
import re
import numpy as np
from os import walk

In [40]:
# read data file txt
path_txt = 'data\0_data_sistem_dodo'
# pattern = re.compile(r'(\.txt)')
filenames_txt = np.array(next(walk(path_txt), (None, None, []))[2])  # [] if no file
filenames_txt = filenames_txt[[re.search(r'.txt',i) != None for i in filenames_txt ]]
filenames_txt

array(['log_2022-01-03.txt', 'log_2022-01-04.txt', 'log_2022-01-05.txt',
       'log_2022-01-06.txt', 'log_2022-01-07.txt', 'log_2022-01-08.txt',
       'log_2022-01-09.txt', 'log_2022-01-10.txt', 'log_2022-01-11.txt',
       'log_2022-01-12.txt'], dtype='<U18')

In [41]:
# preprocessing
def remove_duplicate(lines):
    return list(dict.fromkeys(lines))

In [44]:
# preprocessing
def remove_backslash_n(url):
    return re.sub("\\n$","",url)

In [45]:
# read data from txt to df : remove_duplicate, remove_backslash_n
list_count_data_txt = []
list_count_data_df = []

def txt_to_df(uri):
    reader = open(uri, 'r')
    websites_url = reader.readlines()
    reader.close()
    list_count_data_txt.append(len(websites_url))
    # print("before : {}".format(len(websites_url)))
    websites_url = remove_duplicate(websites_url)
    list_count_data_df.append(len(websites_url))
    # print("after : {}".format(len(websites_url)))
    df_websites_url = pd.DataFrame({'url':websites_url})
    df_websites_url['url'] = df_websites_url['url'].apply(remove_backslash_n)
    return df_websites_url

In [46]:
for f in filenames_txt:
    df_f = txt_to_df(path_txt+f)
    df_f.to_csv('data\1_data_selection/p1_{}'.format(f.replace('.txt','.csv')))

In [56]:
print("sum list_count_data_txt = "+ str(sum(list_count_data_txt)))
print("sum list_count_data_df = "+ str(sum(list_count_data_df)))

sum list_count_data_txt = 4691495
sum list_count_data_df = 819517

In [47]:
df_count_data_txt = pd.DataFrame({'file_name':filenames_txt, 'count':list_count_data_txt, 'remove_duplicate':list_count_data_df})
df_count_data_txt

            file_name   count  remove_duplicate
0  log_2022-01-03.txt  125174             27675
1  log_2022-01-04.txt  632100            182398
2  log_2022-01-05.txt  441352             73796
3  log_2022-01-06.txt  398042            105986
4  log_2022-01-07.txt  446871             72882
5  log_2022-01-08.txt  475706             72648
6  log_2022-01-09.txt  464627             83754
7  log_2022-01-10.txt  497906            158753
8  log_2022-01-11.txt  661316             34270
9  log_2022-01-12.txt  548401              7355

In [23]:
# #proproc 1 = backslash and save
# def data_preproc1(file_name):
#     reader = open(path+file_name, 'r')
#     websites_url = reader.readlines()
#     reader.close()
#     websites_url = remove_duplicate(websites_url)
#     df_websites_url = pd.DataFrame({'url':websites_url})
#     df_websites_url['url'] = df_websites_url['url'].apply(remove_backslash_n)
#     df_websites_url.to_csv('data/data_preproc1/p1{}.csv'.format(file_name.replace('.txt','')))

## Combine all df and remove duplikat

In [48]:
#get file name
path_data_preproc1 = 'data\1_data_selection/'
filenames_data_preproc1 = np.array(next(walk(path_data_preproc1), (None, None, []))[2]) 
filenames_data_preproc1 = filenames_data_preproc1[[re.search(r'.csv',i) != None for i in filenames_data_preproc1 ]]
filenames_data_preproc1

#path+filename
path_file_4_combine = [path_data_preproc1+f for f in filenames_data_preproc1]

In [49]:
# combine all data set
list_of_count_data = []
df_combine = ''
for i, p in enumerate(path_file_4_combine):
    df_i = pd.read_csv(p, index_col=0)
    list_of_count_data.append(df_i.shape[0])
    if i == 0:
        df_combine = df_i
    else :
        df_combine = pd.concat([df_combine, df_i])

print('count total data = ' + str(df_combine.shape[0]))
list_of_count_data

count total data = 819517

[27675, 182398, 73796, 105986, 72882, 72648, 83754, 158753, 34270, 7355]

In [50]:
df_combine.sample(5)

                                                      url
103606  https://www.outlookturkey.com/?s=PkEKBwXFe+Eu2...
109122  http://jb.wa6bmf-qa2n.cn/sign/44rhe71de/t/888/...
102239  https://signin.ea.com/p/ajax/user/checkEmailEx...
78111   https://1login.wp.pl/api/v1/public/ol-identity...
55677   https://59.110.245.172/link?target=https%3A%2F...

In [51]:
df_count_data = pd.DataFrame({'file_name':filenames_data_preproc1, 'count':list_of_count_data})
df_count_data

               file_name   count
0  p1_log_2022-01-03.csv   27675
1  p1_log_2022-01-04.csv  182398
2  p1_log_2022-01-05.csv   73796
3  p1_log_2022-01-06.csv  105986
4  p1_log_2022-01-07.csv   72882
5  p1_log_2022-01-08.csv   72648
6  p1_log_2022-01-09.csv   83754
7  p1_log_2022-01-10.csv  158753
8  p1_log_2022-01-11.csv   34270
9  p1_log_2022-01-12.csv    7355

In [52]:
df_combine.drop_duplicates(subset=['url'], inplace=True)
df_combine.shape[0]

806196

In [69]:
df_combine.to_csv('data\1_data_selection/p1_log_combine_2022-01.csv', index=False)

### remove based on file type

In [75]:
df_combine_ft =pd.read_csv('data\1_data_selection/p1_log_combine_2022-01.csv')
df_combine_ft.sample(5)

                                                      url
726224  http://download.syt1000.com/update/server.conf...
493421  http://api.steampowered.com/ISteamUser/GetPlay...
260296  http://api.steampowered.com/ISteamUser/GetPlay...
420398  http://119.23.249.140/MobileDeposit/Wait.html?...
759306  https://k.airasia.com/shopprice-n/api/v4/price...

In [76]:
# hapus backslash dibelakang -> ragu
# df_combine_ft.drop(df_combine_ft[df_combine_ft.url.apply(lambda x:x[-1]=='/')].index, inplace=True)
# df_combine_ft[df_combine_ft.url.apply(lambda x:x[-1]=='/')].iloc[0,0]

In [77]:
'''
mengandung string "auth"
diakhiri dengan ekstensi gambar .png .jpg .jpeg .gif .svg .js .webp .json
mengandung .png .jpg .jpeg .gif .svg? .webp?
diawali dengan https://g.api.mega.co.nz/cs?id=|PARS|[2]&lang=ru&domain=meganz

/api /api/ -api api-

# captcha
recaptcha.net
geo.captcha
captcha.php
/recaptcha/
/validateCaptcha

'''

'\nmengandung string "auth"\ndiakhiri dengan ekstensi gambar .png .jpg .jpeg .gif .svg .js .webp .json\nmengandung .png .jpg .jpeg .gif .svg? .webp?\ndiawali dengan https://g.api.mega.co.nz/cs?id=|PARS|[2]&lang=ru&domain=meganz\n\n/api /api/ -api api-\n\n# captcha\nrecaptcha.net\ngeo.captcha\ncaptcha.php\n/recaptcha/\n/validateCaptcha\n\n'

In [ ]:
[r'.*\.js$', r'.*\.js\?.*',
r'.*\.png$', r'.*\.png\?.*',
r'.*\.jpg$', r'.*\.jpg\?.*',
r'.*\.jpeg$', r'.*\.jpeg\?.*',
r'.*\.gif$', r'.*\.gif\?.*',
r'.*\.svg$', r'.*\.svg\?.*',
r'.*\.webp$', r'.*\.webp\?.*',
r'.*\.json$', r'.*\.json\?.*',
r'.*\.gif$', r'.*\.gif\?.*']

In [2]:
import re

# return true if pattern match
def deletion_baseoncharacter(url):
    pattern_list = [r'.*\.js$', r'.*\.js\?.*',
                    r'.*\.png$', r'.*\.png\?.*',
                    r'.*\.jpg$', r'.*\.jpg\?.*',
                    r'.*\.jpeg$', r'.*\.jpeg\?.*',
                    r'.*\.gif$', r'.*\.gif\?.*',
                    r'.*\.svg$', r'.*\.svg\?.*',
                    r'.*\.webp$', r'.*\.webp\?.*',
                    r'.*\.json$', r'.*\.json\?.*',
                    r'.*\.gif$', r'.*\.gif\?.*']
    
    for p in pattern_list:
        pattern = re.compile(p)
        if re.match(pattern, url):
            return(True)
    
    return(False)
    
# url = 'https://omgubuntu.disqus.com/count-data.js'
# deletion_baseoncharacter(url)

In [79]:
df_combine_ft.drop(df_combine_ft[df_combine_ft.url.apply(deletion_baseoncharacter)].index, inplace=True)

In [80]:
df_combine_ft.shape[0]

777491

In [81]:
def deletion_baseoncharacter_(url):
    pattern_list = [r'.*auth.*',
                    r'.*auth.*',
                    r'.*[-\/.]api$',r'.*[-\/.]api[-\/.].*',r'^api[-\/.].*',
                    r'.*[-\/.]captcha$',r'.*[-\/.]captcha[-\/.].*',r'^captcha[-\/.].*',
                    r'.*[-\/.]recaptcha$',r'.*[-\/.]recaptcha[-\/.].*',r'^recaptcha[-\/.].*',
                    r'.*[-\/.]validatecaptcha$',r'.*[-\/.]validatecaptcha[-\/.].*',r'^validatecaptcha[-\/.].*',
                    r'.*mega\.co\.nz.*']
    
    for p in pattern_list:
        pattern = re.compile(p)
        if re.match(pattern, url):
            return(True)
    
    return(False)

In [82]:
df_combine_ft.drop(df_combine_ft[df_combine_ft.url.apply(deletion_baseoncharacter_)].index, inplace=True)

In [83]:
df_combine_ft.shape[0]

631157

In [85]:
df_combine_ft.to_csv('data\1_data_selection\p1_v2_log_combine_2022-01.csv', index = False)

In [65]:
# import urllib
# import mimetypes

# def guess_type_of(link, strict=True):
#     try :
#       link_type, _ = mimetypes.guess_type(link)
#       if link_type is None and strict:
#           u = urllib.request.urlopen(link)
#           link_type = u.headers.get_content_type() # or using: u.info().gettype()
#     except Exception as e: 
#       link_type = "[ERROR] " + str(e)
#     return link_type

### split the file

In [86]:
source_path = 'data\1_data_selection\p1_v2_log_combine_2022-01.csv'
for i,chunk in enumerate(pd.read_csv(source_path, chunksize=30000)):
    chunk.to_csv('data\1_data_selection/combine_split/sistem_dodo_b{}.csv'.format(i), index=False)