In [14]:
import csv
import re
import text_utils as tu
import pandas as pd

In [7]:
forbidden_word = []
with open(r'dodo_spm\bad-bad-word-cleaned.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)
for i in data:
    forbidden_word.append(i[0])

In [8]:
def check_forbidden_word(raw_text)->int:
    '''
    :rtype: integer
    :type text : string
    :param text: type string, text 
    :return: integer, 1 jika menemukan forbidden word, 0 jika tidak ditemukan forbidden word
    '''    
    text_ = raw_text.lower()
    for fword in forbidden_word:
        if fword in text_:
            return 1
    return 0

In [9]:
def profanity_check_url(raw_url):
    url_clean = tu.cleaning_url(raw_url)
    text_ = tu.cleaning_text(url_clean)
    v_check_forbidden_word = check_forbidden_word(url_clean)
    if v_check_forbidden_word == 1: return 1
    return 0

In [13]:
profanity_check_url('www.pornhub.com')

1

In [18]:
df = pd.read_csv('../data\sample_bab4.csv')

In [20]:
df = df[['url','label']]
df.head()

                            url label
0               https://unt.edu  aman
1  https://discovermagazine.com  aman
2      https://caranddriver.com  aman
3          https://allstate.com  aman
4       https://oregonstate.edu  aman

In [21]:
df['spm_label'] = df.url.apply(profanity_check_url)

In [24]:
def score(row):
    a = row.label == 'berbahaya'
    b = row.spm_label
    return a == b

In [26]:
df['score'] = df.apply(score, axis=1)

In [29]:
sum(df.score)/df.shape[0]

0.6603053435114504